@charset "UTF-8";
/**
* メディアクエリ設定用
* ブレイクポイントはは別scssで定義する
*/
/**
* 透明度の設定
*/
/**
* remに対応していないブラウザ用
*/
/**
* 絶対位置で配置する
*/
/**
* 絶対位置で中央に配置する
*/
/**
* ボックスの中央に文字を配置する
*/
/**
* clearfix
*/
/**
* レティーナ背景用
*/
/**
* 吹き出し
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** 追加 **/
*, :after, :before {
  box-sizing: border-box; }

.mg1x {
  margin: 4px; }

.mgTop1x {
  margin-top: 4px; }

.mgBottom1x {
  margin-bottom: 4px; }

.mgLeft1x {
  margin-left: 4px; }

.mgRight1x {
  margin-right: 4px; }

.pd1x {
  padding: 4px; }

.pdTop1x {
  padding-top: 4px; }

.pdBottom1x {
  padding-bottom: 4px; }

.pdLeft1x {
  padding-left: 4px; }

.pdRight1x {
  padding-right: 4px; }

.mg2x {
  margin: 8px; }

.mgTop2x {
  margin-top: 8px; }

.mgBottom2x {
  margin-bottom: 8px; }

.mgLeft2x {
  margin-left: 8px; }

.mgRight2x {
  margin-right: 8px; }

.pd2x {
  padding: 8px; }

.pdTop2x {
  padding-top: 8px; }

.pdBottom2x {
  padding-bottom: 8px; }

.pdLeft2x {
  padding-left: 8px; }

.pdRight2x {
  padding-right: 8px; }

.mg3x {
  margin: 12px; }

.mgTop3x {
  margin-top: 12px; }

.mgBottom3x {
  margin-bottom: 12px; }

.mgLeft3x {
  margin-left: 12px; }

.mgRight3x {
  margin-right: 12px; }

.pd3x {
  padding: 12px; }

.pdTop3x {
  padding-top: 12px; }

.pdBottom3x {
  padding-bottom: 12px; }

.pdLeft3x {
  padding-left: 12px; }

.pdRight3x {
  padding-right: 12px; }

.mg4x {
  margin: 16px; }

.mgTop4x {
  margin-top: 16px; }

.mgBottom4x {
  margin-bottom: 16px; }

.mgLeft4x {
  margin-left: 16px; }

.mgRight4x {
  margin-right: 16px; }

.pd4x {
  padding: 16px; }

.pdTop4x {
  padding-top: 16px; }

.pdBottom4x {
  padding-bottom: 16px; }

.pdLeft4x {
  padding-left: 16px; }

.pdRight4x {
  padding-right: 16px; }

.mg5x {
  margin: 20px; }

.mgTop5x {
  margin-top: 20px; }

.mgBottom5x {
  margin-bottom: 20px; }

.mgLeft5x {
  margin-left: 20px; }

.mgRight5x {
  margin-right: 20px; }

.pd5x {
  padding: 20px; }

.pdTop5x {
  padding-top: 20px; }

.pdBottom5x {
  padding-bottom: 20px; }

.pdLeft5x {
  padding-left: 20px; }

.pdRight5x {
  padding-right: 20px; }

.mg6x {
  margin: 24px; }

.mgTop6x {
  margin-top: 24px; }

.mgBottom6x {
  margin-bottom: 24px; }

.mgLeft6x {
  margin-left: 24px; }

.mgRight6x {
  margin-right: 24px; }

.pd6x {
  padding: 24px; }

.pdTop6x {
  padding-top: 24px; }

.pdBottom6x {
  padding-bottom: 24px; }

.pdLeft6x {
  padding-left: 24px; }

.pdRight6x {
  padding-right: 24px; }

.mg7x {
  margin: 28px; }

.mgTop7x {
  margin-top: 28px; }

.mgBottom7x {
  margin-bottom: 28px; }

.mgLeft7x {
  margin-left: 28px; }

.mgRight7x {
  margin-right: 28px; }

.pd7x {
  padding: 28px; }

.pdTop7x {
  padding-top: 28px; }

.pdBottom7x {
  padding-bottom: 28px; }

.pdLeft7x {
  padding-left: 28px; }

.pdRight7x {
  padding-right: 28px; }

.mg8x {
  margin: 32px; }

.mgTop8x {
  margin-top: 32px; }

.mgBottom8x {
  margin-bottom: 32px; }

.mgLeft8x {
  margin-left: 32px; }

.mgRight8x {
  margin-right: 32px; }

.pd8x {
  padding: 32px; }

.pdTop8x {
  padding-top: 32px; }

.pdBottom8x {
  padding-bottom: 32px; }

.pdLeft8x {
  padding-left: 32px; }

.pdRight8x {
  padding-right: 32px; }

.mg9x {
  margin: 36px; }

.mgTop9x {
  margin-top: 36px; }

.mgBottom9x {
  margin-bottom: 36px; }

.mgLeft9x {
  margin-left: 36px; }

.mgRight9x {
  margin-right: 36px; }

.pd9x {
  padding: 36px; }

.pdTop9x {
  padding-top: 36px; }

.pdBottom9x {
  padding-bottom: 36px; }

.pdLeft9x {
  padding-left: 36px; }

.pdRight9x {
  padding-right: 36px; }

.mg10x {
  margin: 40px; }

.mgTop10x {
  margin-top: 40px; }

.mgBottom10x {
  margin-bottom: 40px; }

.mgLeft10x {
  margin-left: 40px; }

.mgRight10x {
  margin-right: 40px; }

.pd10x {
  padding: 40px; }

.pdTop10x {
  padding-top: 40px; }

.pdBottom10x {
  padding-bottom: 40px; }

.pdLeft10x {
  padding-left: 40px; }

.pdRight10x {
  padding-right: 40px; }

.mg11x {
  margin: 44px; }

.mgTop11x {
  margin-top: 44px; }

.mgBottom11x {
  margin-bottom: 44px; }

.mgLeft11x {
  margin-left: 44px; }

.mgRight11x {
  margin-right: 44px; }

.pd11x {
  padding: 44px; }

.pdTop11x {
  padding-top: 44px; }

.pdBottom11x {
  padding-bottom: 44px; }

.pdLeft11x {
  padding-left: 44px; }

.pdRight11x {
  padding-right: 44px; }

.mg12x {
  margin: 48px; }

.mgTop12x {
  margin-top: 48px; }

.mgBottom12x {
  margin-bottom: 48px; }

.mgLeft12x {
  margin-left: 48px; }

.mgRight12x {
  margin-right: 48px; }

.pd12x {
  padding: 48px; }

.pdTop12x {
  padding-top: 48px; }

.pdBottom12x {
  padding-bottom: 48px; }

.pdLeft12x {
  padding-left: 48px; }

.pdRight12x {
  padding-right: 48px; }

.mg13x {
  margin: 52px; }

.mgTop13x {
  margin-top: 52px; }

.mgBottom13x {
  margin-bottom: 52px; }

.mgLeft13x {
  margin-left: 52px; }

.mgRight13x {
  margin-right: 52px; }

.pd13x {
  padding: 52px; }

.pdTop13x {
  padding-top: 52px; }

.pdBottom13x {
  padding-bottom: 52px; }

.pdLeft13x {
  padding-left: 52px; }

.pdRight13x {
  padding-right: 52px; }

.mg14x {
  margin: 56px; }

.mgTop14x {
  margin-top: 56px; }

.mgBottom14x {
  margin-bottom: 56px; }

.mgLeft14x {
  margin-left: 56px; }

.mgRight14x {
  margin-right: 56px; }

.pd14x {
  padding: 56px; }

.pdTop14x {
  padding-top: 56px; }

.pdBottom14x {
  padding-bottom: 56px; }

.pdLeft14x {
  padding-left: 56px; }

.pdRight14x {
  padding-right: 56px; }

.mg15x {
  margin: 60px; }

.mgTop15x {
  margin-top: 60px; }

.mgBottom15x {
  margin-bottom: 60px; }

.mgLeft15x {
  margin-left: 60px; }

.mgRight15x {
  margin-right: 60px; }

.pd15x {
  padding: 60px; }

.pdTop15x {
  padding-top: 60px; }

.pdBottom15x {
  padding-bottom: 60px; }

.pdLeft15x {
  padding-left: 60px; }

.pdRight15x {
  padding-right: 60px; }

.mg16x {
  margin: 64px; }

.mgTop16x {
  margin-top: 64px; }

.mgBottom16x {
  margin-bottom: 64px; }

.mgLeft16x {
  margin-left: 64px; }

.mgRight16x {
  margin-right: 64px; }

.pd16x {
  padding: 64px; }

.pdTop16x {
  padding-top: 64px; }

.pdBottom16x {
  padding-bottom: 64px; }

.pdLeft16x {
  padding-left: 64px; }

.pdRight16x {
  padding-right: 64px; }

.mg17x {
  margin: 68px; }

.mgTop17x {
  margin-top: 68px; }

.mgBottom17x {
  margin-bottom: 68px; }

.mgLeft17x {
  margin-left: 68px; }

.mgRight17x {
  margin-right: 68px; }

.pd17x {
  padding: 68px; }

.pdTop17x {
  padding-top: 68px; }

.pdBottom17x {
  padding-bottom: 68px; }

.pdLeft17x {
  padding-left: 68px; }

.pdRight17x {
  padding-right: 68px; }

.mg18x {
  margin: 72px; }

.mgTop18x {
  margin-top: 72px; }

.mgBottom18x {
  margin-bottom: 72px; }

.mgLeft18x {
  margin-left: 72px; }

.mgRight18x {
  margin-right: 72px; }

.pd18x {
  padding: 72px; }

.pdTop18x {
  padding-top: 72px; }

.pdBottom18x {
  padding-bottom: 72px; }

.pdLeft18x {
  padding-left: 72px; }

.pdRight18x {
  padding-right: 72px; }

.mg19x {
  margin: 76px; }

.mgTop19x {
  margin-top: 76px; }

.mgBottom19x {
  margin-bottom: 76px; }

.mgLeft19x {
  margin-left: 76px; }

.mgRight19x {
  margin-right: 76px; }

.pd19x {
  padding: 76px; }

.pdTop19x {
  padding-top: 76px; }

.pdBottom19x {
  padding-bottom: 76px; }

.pdLeft19x {
  padding-left: 76px; }

.pdRight19x {
  padding-right: 76px; }

.mg20x {
  margin: 80px; }

.mgTop20x {
  margin-top: 80px; }

.mgBottom20x {
  margin-bottom: 80px; }

.mgLeft20x {
  margin-left: 80px; }

.mgRight20x {
  margin-right: 80px; }

.pd20x {
  padding: 80px; }

.pdTop20x {
  padding-top: 80px; }

.pdBottom20x {
  padding-bottom: 80px; }

.pdLeft20x {
  padding-left: 80px; }

.pdRight20x {
  padding-right: 80px; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-font-feature-settings: "palt" 1;
     -moz-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

a {
  color: #00f;
  text-decoration: underline; }
  a:hover {
    color: #f00; }
  a:visited {
    color: #ff0;
    color: #3ea5f8; }
  a:active {
    color: #0ff; }

.listSns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .listSns .listSnsItem {
    width: calc(25% - 8px);
    margin: 0 4px;
    height: 60px; }
    @media screen and (max-width: 920px) {
      .listSns .listSnsItem {
        height: 36px; } }

.listSnsItem {
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 920px) {
    .listSnsItem:hover {
      transition: -webkit-filter .2s linear;
      transition: filter .2s linear;
      transition: filter .2s linear, -webkit-filter .2s linear;
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
      -webkit-filter: brightness(0.7);
              filter: brightness(0.7); } }
  .listSnsItem-facebook {
    background-image: url("../img/icon_facebook.svg");
    background-size: 17px 30px;
    background-color: #4c72bb; }
    @media screen and (max-width: 920px) {
      .listSnsItem-facebook {
        background-size: 10px 17px; } }
  .listSnsItem-twitter {
    background-image: url("../img/icon_twitter.svg");
    background-size: 32px 26px;
    background-color: #1fa0e4; }
    @media screen and (max-width: 920px) {
      .listSnsItem-twitter {
        background-size: 19px 15px; } }
  .listSnsItem-hatena {
    background-image: url("../img/icon_hatena.svg");
    background-size: 40px 32px;
    background-color: #017fde; }
    @media screen and (max-width: 920px) {
      .listSnsItem-hatena {
        background-size: 19px 18px; } }
  .listSnsItem-line {
    background-image: url("../img/icon_line.svg");
    background-size: 54px 21px;
    background-color: #00c300; }
    @media screen and (max-width: 920px) {
      .listSnsItem-line {
        background-size: 31px 12px; } }
  .listSnsItem > a {
    display: block;
    width: 100%;
    height: 100%; }
