@charset "UTF-8";

.listSns {
  display: flex;
  justify-content: space-between;

  .listSnsItem {
    width: calc(25% - 8px);
    margin: 0 4px;
    height: 60px;

    @include max-screen($BP_DESKTOP) {
      height: 36px;
    }
  }
}

.listSnsItem {
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;

  @include min-screen($BP_DESKTOP) {
    &:hover {
      transition: filter .2s linear;
      filter: brightness(.7);
    }
  }

  &-facebook {
    background-image: url('../img/icon_facebook.svg');
    background-size: 17px 30px;
    background-color: #4c72bb;

    @include max-screen($BP_DESKTOP) {
      background-size: 10px 17px;
    }
  }
  &-twitter {
    background-image: url('../img/icon_twitter.svg');
    background-size: 32px 26px;
    background-color: #1fa0e4;

    @include max-screen($BP_DESKTOP) {
      background-size: 19px 15px;
    }
  }
  &-hatena{
    background-image: url('../img/icon_hatena.svg');
    background-size: 40px 32px;
    background-color: #017fde;

    @include max-screen($BP_DESKTOP) {
      background-size: 19px 18px;
    }
  }
  &-line {
    background-image: url('../img/icon_line.svg');
    background-size: 54px 21px;
    background-color: #00c300;

    @include max-screen($BP_DESKTOP) {
      background-size: 31px 12px;
    }
  }

  >a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
