@charset "UTF-8";


/**
* メディアクエリ設定用
* ブレイクポイントはは別scssで定義する
*/
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

/**
* 透明度の設定
*/
@mixin opacity($opacity) {
   opacity: $opacity;
   filter: alpha(opacity=($opacity * 100));
}

/**
* remに対応していないブラウザ用
*/
@mixin font-size($size, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}

/**
* 絶対位置で配置する
*/
@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/**
* 絶対位置で中央に配置する
*/
@mixin absolute-center($adjustX: 0, $adjustY: 0) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + $adjustX), calc(-50% + $adjustY));
}

/**
* ボックスの中央に文字を配置する
*/
@mixin middle-line($height){
  height: $height + px;
  line-height: $height + px;
}


/**
* clearfix
*/
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/**
* レティーナ背景用
*/
@mixin retina-bg($src, $width, $height, $dpr: 2) {
  background-image: url(#{$src});
  width: ($width / $dpr) + px;
  height: ($height / $dpr) + px;
  background-size: ($width / $dpr) + px ($height / $dpr) + px;
}


/**
* 吹き出し
*/
@mixin balloon($color, $size, $position) {
  position: relative;
  background: $color;

  &:after{
      bottom: 100%;
      left: $position;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $color;
      border-width: $size + px;
      margin-left: -$size + px;
  }
}
