html {
  font-size: 62.5%
}

body {

  // ベースとなる文字の大きさ(rem)
  font-size: 1.6rem;

  // 自動カーニング(paltで問題があった場合は、pknaを使用)
  font-feature-settings : "palt" 1;

  // 游ゴシック体優先指定
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

  // 自動調整機能
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // アンチエイリアス
  // 参考: http://creator.dwango.co.jp/14128.html
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  color: #00f;
  text-decoration: underline;

  &:hover {
    color: #f00;
  }
  
  &:visited {
    color: #3ea5f8;
  }
  
  &:active {
    color: #0ff;
  }
}