extends ../_include/_DefaultLayout

prepend ConfigBlock

append StylesheetBlock
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


append JavascriptBlock
  script(type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?UCUnJMzSMMk%3D")
  script(src="./js/app.bundle.js?"+Date.now() type="text/javascript")

block ContentBlock
  .photo
    img.lazy(data-original="./img/sample_cat.png" alt="猫" 2x mobile)
  .photo
    img.lazy(data-original="./img/sample_dog.jpg" alt="犬" 2x mobile)
  .photo
    img.lazy(data-original="./img/sample_bear.jpg" alt="アライグマ" 2x mobile)