extends ./_include/_DefaultLayout

prepend ConfigBlock

append StylesheetBlock
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


append JavascriptBlock
  script(type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?UCUnJMzSMMk%3D")
  script(src="./js/app.bundle.js?"+Date.now() type="text/javascript")

block ContentBlock
  .wrapper#js-wrapper
    //- ヘッダー
    section.sectionHeader

    section.sectionDescription
      .sectionDescription__inner
        h1.sectionDescription__title
        p.sectionDescription__text
          |こどもに将来の夢を聞くと、お菓子屋さんになりたい、プロ野球選手になりたい、と自由な想いを語ってくれます。こども達が考える株式会社は、どんな会社になるのでしょうか？数人のこどもにインタビューをし、架空の会社を考えてもらいました。そして、それを「こどもの会社しか存在しない株式市場」という体で、サイトにまとめました。
        p.sectionDescription__text
          |大人の株式市場「マザーズ」と違い、こども株式市場「キッズ」には金銭は発生しません。株価は、みんなの応援で変化します。こどもの考えた会社をシェアするか、応援ボタンをタップすると、株価が変化していきます。

    section.sectionCompany
      .sectionCompany__inner
      .sectionCompany__items
        .companyDataBox
          .companyDataBox__head
            .companyDataBox__headLeft
              .companyDataBox__name
                |株式会社ドラゴンホースペガサス
              .companyDataBox__category
                |事業：遊び・ゲーム・研究
            .companyDataBox__img

          .companyDataBox__data
            .companyDataBox__date
              |TYO:3904 - 4月1日　10:59 JST
            .companyDataBox__price
              .companyDataBox__yen
                |1,103
                span.companyDataBox__yenUnit
                  |YEN
              .companyDataBox__changed.companyDataBox__changed--down
                |0(0.00%)

          .companyDataBox__graph
            canvas

          .companyDataBox__bottom
            .companyDataBox__values
              dl
                dt 始値
                dd 1,103
              dl
                dt 始値
                dd 1,103
              dl
                dt 始値
                dd 1,103
              dl
                dt 始値
                dd 1,103
              dl
                dt 始値
                dd 1,103
              dl
                dt 始値
                dd 1,103

          .companyDataBox__btns
            .btnRect.btnRect--blue.btnRect--sizeMedium
              a.btnRect__anchor(href="" target="_blank")
                |この会社を　　
                img(src="")
                |で応援
            .btnRect.btnRect--gray.btnRect--sizeMedium
              a.btnRect__anchor(href="" target="_blank")
                |応援クリック

    section.sectionCompany
      .sectionCompany__head(style="background-image:url('')")
        p.sectionCompany__number
          |1
        p.sectionCompany__number
          |株式会社ドラゴンホースペガサス

      .sectionCompany__content
        .sectionCompany__movie


    footer.globalFooter
      .globalFooter__inner
        p.globalFooter__intro
          |大人の会社も応援したいなら…
        p.globalFooter__title
          |俺たち株の初心者！
          br
          |応援したい会社を探すために、
          br
          |株を知ろう！
        p.globalFooter__text
          |株についてまだ何もわからない方へ、「株を楽しみながら学ぶ」・「自分に合った投資スタイルを見付ける」・「株初心者でも簡単に利益を上げる」をポリシーに掲げ運営中！

      .globalFooter__bottom
        .globalFooter__links
          a(href="https://orekabu.jp/" target="_blank")
            |運営会社
        small.globalFooter__copyright
          |&copy;俺たち株の初心者！ All Rights Reserved.










  .photo
    img.lazy(data-original="./img/sample_cat.png" alt="猫" 2x mobile)
  .photo
    img.lazy(data-original="./img/sample_dog.jpg" alt="犬" 2x mobile)
  .photo
    img.lazy(data-original="./img/sample_bear.jpg" alt="アライグマ" 2x mobile)

